form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 8px;
}

form div {
  box-sizing: border-box;
}

label {
  display: inline;
  text-align: left;
  padding-bottom: 4px;
  font-size: 24px;
  width: 100%;
}

.form-block-50 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(50% - 4px);
  text-align: left;
  padding-bottom: 16px;
  position: relative;
}

.form-block-25 {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(25% - 8px);
  text-align: left;
  padding-bottom: 16px;
}

@media screen and (max-width: 1000px) {
  .form-block-50 {
    width: calc(100%);
    padding-bottom: 8px;
  }
  .form-block-25 {
    width: calc(50% - 4px);
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 500px) {
  .form-block-50 {
    width: calc(100%);
    padding-bottom: 4px;
  }
  .form-block-25 {
    width: calc(100%);
    padding-bottom: 4px;
  }
  label {
    font-size: 18px;
  }


}

.form-block-25 input {
  height: 46px;
}

.form-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 4px);
  text-align: left;
  padding-bottom: 16px;
}

input {
  width: calc(100%);
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--color-primary-2);
}

.form-btn {
  border: none;
  font-size: 18px;
  margin-right: 6px;
  min-width: 150px;
  padding: 16px 8px;
  border-radius: 4px;
  font-weight: 600;
  margin-bottom: 4px;
}

@media screen and (max-width: 1000px) {
  .form-btn {
    border: none;
    font-size: 18px;
    margin-right: 6px;
    min-width: 150px;
    padding: 12px 4px;
    border-radius: 4px;
    font-weight: 600;
  }
}




.form-btn.btn-active {
  color: var(--color-secondary-1-4);
  background: linear-gradient(
    45deg,
    var(--color-secondary-1-0) 50%,
    var(--color-secondary-1-2) 150%
  );
}

.btn-secondary {
  background: linear-gradient(
    45deg,
    var(--color-secondary-1-3) -150%,
    var(--color-secondary-1-2)
  );
  color: var(--color-secondary-1-3);
}

.btn-primary {
  background: linear-gradient(
    45deg,
    var(--color-primary-3) -150%,
    var(--color-primary-0)
  );
  color: white;
}

.buttons-ctr {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}



.btn-input-ctr {
  background-color: white;
  border-radius: 4px;
  flex-wrap: nowrap;
  padding: 0;
  border: 1px solid var(--color-primary-2);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.input-button {
    margin: 4px;
    background-color: transparent;
    color: var(--color-primary-0);
    height: 38px;
    width: 38px;
  }
  
  button {
    cursor: pointer;
  }
  

.icon-button-primary-32 {
    color: white;
    border: none;
    border-radius: 50%;
    margin-right: 8px;
    padding: 0;
    height: 38px;
    width: 38px;
    /* background-color: var(--color-primary-0); */
  }
.icon-button-primary-32:hover{
  background-color: rgba(200,200,200,.2);
}


.btn-input-ctr input {
  border: none;
  width: available;
  padding: 4px 8px;
}


  
