<template>
  <main>
    <div class="width-ctrl welcome-ctr">
      <img src="../../public/icons/Artboard 2 copy 2.svg" class="icon-256 welcome-icon"/>
      <h1 >Bonjour, WeatherCast vous souhaite une bonne journée</h1>
      <form>
        <div class="form-block-50">
          <label>Ville</label>
          <div class="btn-input-ctr">
             <input
              type="text"
              v-model="ville"
              @blur="ChangeDisplayVille()"
              @focusin="displayVille = true"
              autocomplete="off"
              placeholder="Entrer la ville que vous voulez"
              @input="autoCompleteVille()"
            />
   <button
              @click="getTheLocalisationFromIpAddress()"
              type="button"
              class="input-button icon-button-primary-32"
            >
              <img
                class="icon-24"
                src="../../public/icons/Artboard 2 copy 6.svg"
              />
            </button>
            <SuggestedCities
              v-if="filterdVilles && displayVille && ville"
              :filteredVilles="filterdVilles"
              :setVille="setVille"
            />
          </div>
          <p class="error-message">{{ villeEmpty }}</p>
        </div>

        <div class="form-block-50">
          <label>Date</label>
          <div class="btn-input-ctr">
            <input style="height: 46px" v-model="dateSelected" type="date"  id="date-now"/>
          </div>
          <!-- display error message for heure -->
          <p class="error-message">{{ dateEmpty }}</p>
        </div>


        <div class="form-block-50 radio-ctr">
          <label>Modèle Meteo</label>
          <button
            @click="modeleMeteo = 'GFS'"
            type="button"
            class="form-btn btn-secondary btn-active"
          >
            GFS
          </button>
          <button
            @click="modeleMeteo = 'GFES'"
            type="button"
            class="form-btn btn-secondary"
          >
            GFES
          </button>
        </div>

        <div class="form-block-50 check-ctr">
          <label>Informations</label>
          <button
            type="button"
            @click="information = 'temperature'"
            class="form-btn btn-secondary btn-active"
          >
            Température
          </button>
          <button
            type="button"
            @click="information = 'precipitation'"
            class="form-btn btn-secondary btn-active"
          >
            Précipitation
          </button>
          <button
            type="button"
            @click="information = 'vent'"
            class="form-btn btn-secondary"
          >
            Vitesse de vent
          </button>
        </div>

        <div class="buttons-ctr">
          <button
            type="button"
            @click="getWeatherByCityName()"
            class="form-btn btn-primary"
          >
            Valider
          </button>
        </div>
      </form>
    </div>

    <div class="width-ctrl cast-cards-ctr" v-if="forceReload">
      <h1 style="max-width: 100000px; margin-bottom: 12px">
        Estimation Du Jour
      </h1>
      <h3 style="max-width: 100000px; margin-top: 0">
        {{ meteoActuelle.city }} {{ date }}
      </h3>
      <br/>

      <div
          style="
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          "
      >
        <DayCard v-if="dayWeather"
                 :date="meteoActuelle['date'].split(' ')[0]"
                 :categorie="meteoActuelle['date'].split(' ')[1].slice(0,5)"
                 :windSpeed="meteoActuelle['wind_speed']"
                 :temperature="meteoActuelle['current_temperature']"
                 :rain="meteoActuelle['rain']"
                 :cloud="meteoActuelle['cloud']" />
      </div>

      <DayCard v-if="dayWeather"
               :date="dayWeather['date']"
               :categorie="categories[0]"
               :windSpeed="dayWeather['wind_speed']"
               :temperature="dayWeather['morning']['current_temperature']"
               :rain="dayWeather['rain']"
               :cloud="dayWeather['cloud']"
      />
      <DayCard v-if="dayWeather"
               :date="dayWeather['date']"

               :categorie="categories[1]"
               :windSpeed="dayWeather['wind_speed']"
               :temperature="dayWeather['afternoon']['current_temperature']"
               :rain="dayWeather['rain']"
               :cloud="dayWeather['cloud']"
      />
      <DayCard v-if="dayWeather"
               :date="dayWeather['date']"

               :categorie="categories[2]"
               :windSpeed="dayWeather['wind_speed']"
               :temperature="dayWeather['evening']['current_temperature']"
               :rain="dayWeather['rain']"
               :cloud="dayWeather['cloud']"
      />
      <DayCard v-if="dayWeather"

               :date="dayWeather['date']"
               :categorie="categories[3]"
               :windSpeed="dayWeather['wind_speed']"
               :temperature="dayWeather['night']['current_temperature']"
               :rain="dayWeather['rain']"
               :cloud="dayWeather['cloud']"
      />


    </div>

    <!-- Estimation par semaine -->
    <div class="width-ctrl scrolling-row" style="padding: 0;">
      <h1 style="
            max-width: 100000px;
            position: absolute;
            top: 10px;
            z-index: 5;
            color: white;
          ">
        Estimation Des 7 prochains jours
      </h1>
      <div class="cast-cards-ctr week-forecast" style="padding-left: 0">
        <div v-for="forecast in (forecasts || [])" v-bind:key="'forecast-'+forecast.date">
          <ForecastCard :date="forecast.date" :day="forecast['weather_condition']"
                        :windSpeed="forecast['wind_speed']"
                        :temperature="forecast['feels_like_temperature']"
                        :cloud="forecast['cloud']"
                        :rain="forecast['rain']"/>
        </div>

      </div>
    </div>
  </main>
</template>

<script>
import DayCard from "./DayCard.vue";
import ForecastCard from "./ForecastCard.vue";
import SuggestedCities from "./SuggestedCities";

export default {
  name: "Main",
  components: {
    DayCard,
    ForecastCard,
    SuggestedCities,
  },
  data() {
    return {
      forceReload : true,
      villeEmpty: null,
      upHere: false,
      categories: ["Matin", "Apres-midi", "Soir", "Nuit"],
      dateEmpty: null,
      heureEmpty: null,
      gettingLocation: false,
      dayWeather: null,
      displayVille: false,
      forecasts: [],
      meteoActuelle: {
        city: "Paris",
        date: "30-11-2021 10:57:28",
        rain: "0",
        time: "10:00",
        wind_speed: "28",
        current_temperature: "8",
        temperature_min: "100",
        temperature_max: "100",
        cloud: "10",
      },
      filterdVilles: [],
      ville: "",
      dateSelected: "2020-02-02",
      date: "",
      errorStr: null,
      time: "",
      modeleMeteo: "",
      location: "",
      information: "",
      villeLongitude:null,
      villeLatitude:null,


    };
  },
  methods: {
    //get city name with latitude and longitude
    autoCompleteVille() {
      this.filterdVilles = [];
      if (this.ville) {
        window.axios
          .get(this.environement + "/api/v1/cities", {
            params: {
              city_query: this.ville,
            },
          })
          .then((response) => {
            response.data.forEach((ville) => {
              this.filterdVilles.push([
                ville.name,
                ville.country.name,
                ville.longitude,
                ville.latitude,
              ]);
            });
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },

    getTheLocalisationFromIpAddress() {
      window.axios.get("https://ipinfo.io/?token=29ef7cace71e3c").then((response) => {
        this.ville = response.data.city ;
        var localisation= response.data.loc.split(',');
        this.villeLongitude = localisation[1];
        this.villeLatitude =  localisation[0];
      });
    },
setVille(filterdVille) {
      if (filterdVille) {
        console.log(filterdVille)
        this.ville = filterdVille[0];
        this.villeLongitude = filterdVille[2];
        this.villeLatitude = filterdVille[3];
        this.displayVille = false;
        this.filterdVilles = [];
      } else {
        this.displayVille = false;
      }
    },

    ChangeDisplayVille() {
      setTimeout(() => {
        this.displayVille = false;
      }, 200);
    },

    //get the date of the day with year and month and day
    getDate(date) {
      const mois = [
        "Janvier",
        "Février",
        "Mars",
        "Avril",
        "Mai",
        "June",
        "Juillet",
        "Aôut",
        "Septembre",
        "Octobre",
        "Novembre",
        "Décembre",
      ];
      const jours = [
        "Dimanche",
        "Lundi",
        "Mardi",
        "Mercredi",
        "Jeudi",
        "Vendredi",
        "Samedi",
      ];
      let month = mois[date.getMonth()];
      let day = jours[date.getDay()];
      let year = date.getFullYear();
      this.date = day + " " + date.getDate() + " " + month + " " + year;
    },
    // Get the current location
    async geoLocation() {
      if (!("geolocation" in navigator)) {
        this.errorStr = "Geolocation is not available.";
        return;
      }
      this.gettingLocation = true;
      await navigator.geolocation.getCurrentPosition(
          (position) => {
            this.gettingLocation = false;
            this.location = position;
            this.getWeatherByLongitudeAndLatitude(position);
            this.getDayWeatherByLongitudeAndLatitude(position);
            this.getForecastByLongitudeAndLatitude(position);
          },
          (err) => {
            this.gettingLocation = false;
            this.errorStr = err.message;
          }
      );
    },
    // Get the weather in the current location
    getWeatherByLongitudeAndLatitude(postion) {
      if (!postion) {
        this.errorStr = "No location found.";
        return;
      }
      this.gettingLocation = true;
      window.axios

          .get(this.environement + "/api/v1/current_weather", {
            params: {
              latitude: postion.coords.latitude,
              longitude: postion.coords.longitude,
            },
          })
          .then((response) => {
            this.meteoActuelle = response.data;
          });

    },
    getDayWeatherByLongitudeAndLatitude(position) {
      if (!position) {
        this.errorStr = "No location found.";
        return;
      }
      const dateObj = new Date();
      const month = dateObj.getUTCMonth() + 1; //months from 1-12
      const day = dateObj.getUTCDate();
      const year = dateObj.getUTCFullYear();

      this.gettingLocation = true;
      window.axios
          .get(this.environement + "/api/v1/daily_weather", {
            params: {
              latitude: position.coords.latitude,
              longitude: position.coords.longitude,
              date: year + "-" + month + "-" + day
            },
          })
          .then((response) => {
            this.dayWeather = response.data;
          });

    },
    getForecastByLongitudeAndLatitude(position) {
      if (!position) {
        this.errorStr = "No location found.";
        return;
      }
      this.gettingLocation = true;
      window.axios

          .get(this.environement + "/api/v1/weekly_weather", {
            params: {
              latitude: position.coords.latitude,
              longitude: position.coords.longitude,
            },
          })
          .then((response) => {
            this.forecasts = response.data.data;
          });

    },


    // Get the weather by city name and date and heure
    getWeatherByCityName() {
      this.villeEmpty = null;
      this.dateEmpty = null;
      this.errorStr = false;
      if (!this.ville) {
        this.villeEmpty = "Veuillez saisir une ville";
        this.errorStr = true;
      }
      if (!this.dateSelected) {
        this.dateEmpty = "Veuillez saisir une date";
        this.errorStr = true;
      }
      if (this.errorStr) {
        return;
      }
      this.gettingLocation = true;
      window.axios
          .get(this.environement + "/api/v1/current_weather", {
            params: {
              latitude: this.villeLatitude,
              longitude: this.villeLongitude,
            },
          })
          .then((response) => {
          this.meteoActuelle = response.data;
          this.forceReload = false;
            setTimeout(function () { this.forceReload = true }.bind(this), 1000);
          });

     window.axios
          .get(this.environement + "/api/v1/daily_weather", {
            params: {
              latitude: this.villeLatitude,
              longitude: this.villeLongitude,
              date: this.dateSelected
            },
          })
          .then((response) => {
            this.getDate(new Date(this.dateSelected))
            this.dayWeather = response.data;
            setTimeout(function () { this.forceReload = true }.bind(this), 1000);
          });
       window.axios

          .get(this.environement + "/api/v1/weekly_weather", {
            params: {
              latitude: this.villeLatitude,
              longitude: this.villeLongitude,
            },
          })
          .then((response) => {
            this.forecasts = response.data.data;
            setTimeout(function () { this.forceReload = true }.bind(this), 1000);
          });
    },
  },
  async mounted() {
    const date = new Date();
    this.dateSelected = `${date.getFullYear()}-${date.getMonth()+1}-${date.toString().split(' ')[2]}`;

    await this.geoLocation();
    this.getDate(new Date());
    this.meteoActuelle.date =
        this.meteoActuelle.date.split(" ")[1].split(":")[0] +
        ":" +
        this.meteoActuelle.date.split(" ")[1].split(":")[1];

  },
};
</script>

<style>
.error-message {
  color: var(--color-secondary-2-0);
  height: 16px;
  display: block;
  width: 100%;
  font-size: 16px;
  margin: 2px 0 0;
}

.week-forecast {
  padding-right: 48px;
}

@media screen and (max-width: 1000px) {
  .welcome-ctr h1 {
    font-size: 32px;
    max-width: 80%;
    margin-top: 0;
  }

  .week-forecast {
    margin-left: 4px;
  }

  .welcome-ctr .welcome-icon {
    height: 128px;
    width: 128px;
  }

  .scrolling-row h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 700px) {
  .scrolling-row h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 500px) {
  .welcome-ctr {
    padding: 16px;
  }

  .welcome-ctr h1 {
    font-size: 28px;
    max-width: 90%;
    margin-top: 0;
  }

  .welcome-ctr .welcome-icon {
    height: 86px;
    width: 86px;
  }

}




</style>
